PG_USER=
PW=
HOST=
PORT=
DB=
DB_URI=postgresql://${PG_USER}@${HOST}:${PORT}/${DB}
UDRIVE_INPUT_GPKG=\\filesrv04\User_Projects\FY2025\Transportation\WorkforceToWarehousesShuttleStudy\project_input\Costar\costar.gpkg
UDRIVE_OUTPUT_GPKG=\\filesrv04\User_Projects\FY2025/Transportation\WorkforceToWarehousesShuttleStudy\project_output\isochrones\isochrone_shells.gpkg